.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #060e15;
  height: 200px;
}
.footer-text{
  color: white;
  
}

